Функциональные требования к книжному интернет-магазину:

Администратор:
1. Авторизация/аутентификация пользователя:
 - регистрация пользователя;
 - вход в систему;
 - выход из системы.
2. Управление пользователями (CRUD)
 - создание пользователя;
 - чтение инфо о пользователе;
 - обновление инфо о пользователе;
 - удаление пользователя.
3. Система ролей
 - определение ролей;
 - назначение ролей;
 - права доступа.
4. Журналирование действий пользователя
 - регистрация действий;
 - хранение информации;
 - просмотр журнала;
5. Управление книгами
 - добавление книг;
 - редактирование книг;
 - удаление книг;
 - просмотр книг.

Администратор и пользователь:
1. Управлять заказами
 - создание заказа;
 - просмотр статуса заказа.
2. Отзывы и рейтинги
 - добавление отзывов;
 - просмотр отзывов;
 - оценка книг.
3. Поиск и фильтрация
 - поиск книг;
 - фильтрация.